# t Test

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

### One sampled t-test

This test will tell us that whether mean of population & sample mean are same or different, wrt one sample

In [36]:
# When sample size <30 use t test instead of z test
# While using t test we don't need population std dev, instead of it sample std dev is required

In [37]:
import numpy as np

In [38]:
population=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

## Lets take sample

sample_size=10

sample1=np.random.choice(population,sample_size)

sample1

array([16, 43, 50, 18, 20, 40, 19, 28, 70, 32])

In [39]:
np.mean(sample1)

33.6

In [40]:
population_mean=np.mean(population)

In [41]:
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(sample,population_mean)
print(p_value)

0.5579068067847075

In [42]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

### Two-sample T-test With Python

The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. 
The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

In [ ]:
## Lets take another sample

sample2=np.random.choice(population,sample_size)

sample2

In [ ]:
np.mean(sample2)

In [ ]:
ttest,p_value=stats.ttest_ind(a=sample1,b=sample2,equal_var=False)

p_value

In [ ]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

# Another example

In [48]:
import scipy.stats as stats

np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)
classA_ages.mean()

46.9

In [49]:
school_ages.mean()

53.303333333333335

In [50]:
from scipy.stats import ttest_1samp
ttest,p_value=ttest_1samp(classA_ages,school_ages.mean())
print(p_value)

1.139027071016194e-13

In [51]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [52]:
classB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages.mean()

50.68333333333333

In [53]:
ttest,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

p_value

0.00030935839774215933

In [54]:

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

### Paired T-test With Python

When you want to check how different samples from the same group are, you can go for a paired T-test

In [58]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]# present age of students
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)# future age of students after some years

print(weight1)
print(weight2)


weight_df

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[27.09095011 19.68648006 25.52783857 30.04252112 24.94225147 36.94963554
 24.75250635 26.86682019 23.61999608 23.77091128 22.2370207  33.7160076
 31.25494158 32.61759329 48.57480905]

    weight_10  weight_20  weight_change
0          25  23.053398      -1.946602
1          30  22.317693      -7.682307
2          28  23.458350      -4.541650
3          35  26.648694      -8.351306
4          28  30.281454       2.281454
5          34  34.632320       0.632320
6          26  16.514915      -9.485085
7          29  28.028242      -0.971758
8          30  32.132783       2.132783
9          26  23.372477      -2.627523
10         28  26.253276      -1.746724
11         32  24.816208      -7.183792
12         31  25.076766      -5.923234
13         30  27.854208      -2.145792
14         45  34.242053     -10.757947

In [57]:
import pandas as pd
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [59]:
ttest,p_value=stats.ttest_rel(a=weight1,b=weight2)

print(p_value)

0.12425645767645806

In [60]:

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis