# For Loop

## Simple for loop

In [1]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

# For Loop Application - Multiplication Table

In [4]:
for i in range(1, 11): # (11 here is out of bound)
    print(f"10 X {i} = {10*i}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

# Use of Break in For Loop

In [7]:
for i in range(1, 10):
    print(i)
    if i >= 5:
        break

1
2
3
4
5

# Use of Continue in For Loop

In [9]:
for i in range(1, 20):
    if i%2==0: # if no is even then start the loop again
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

# For Loop in List

In [2]:
x = [i**2 for i in range(10)]
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]