# Chi -Square Test

In [1]:
# Z test and t test are used for numerical variables, but for categorical features --> chi sq test is used

In [2]:
import seaborn as sns
dataset=sns.load_dataset('tips')
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
dataset[['sex','smoker']]

        sex smoker
0    Female     No
1      Male     No
2      Male     No
3      Male     No
4    Female     No
..      ...    ...
239    Male     No
240  Female    Yes
241    Male    Yes
242    Male     No
243  Female     No

[244 rows x 2 columns]

In [4]:
import pandas as pd
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [5]:
Observed_Values = dataset_table.values
Observed_Values

array([[60, 97],
       [33, 54]], dtype=int64)

In [6]:
import scipy.stats as stats
stats_test,p,dof,Expected_Values=stats.chi2_contingency(Observed_Values)

In [7]:
from scipy.stats import chi2
chisqure_test=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])

In [8]:
chisqure_test

array([0.00119737, 0.00073745])

In [11]:
chi_square_statistic=chisqure_test[0]+chisqure_test[1]

In [12]:
alpha=0.05

from scipy.stats import chi2
critical_value=chi2.ppf(1-alpha,df=dof)

In [13]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables

In [14]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=dof)

In [15]:
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables